:root {
  --btn-bg-color: #2196f3;
  --footer-bg-color: #2f303a;
  --our-team-bg-color: #f5f4fa;
  --our-team-text-color: #757575;
  --menu-nav-text-color: #212121;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body {
  font-family: var(--font-family);
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--our-team-text-color);
}
a:hover {
  color: var(--btn-bg-color);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;;
}
.header-position {
  display: flex;
  align-items: center;
}
.navbar {
  margin-left: 93px;
}
.span-web {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--btn-bg-color);
}
.span-studio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--menu-nav-text-color);
}
.menu {
  display: flex;
  column-gap: 50px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--menu-nav-text-color);
}
.menu-link:hover {
  color: var(--btn-bg-color);
}
.contacts-header {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}
.contacts-link-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--our-team-text-color);
}
.icon-contacts {
  fill: var(--our-team-text-color);
  margin-right: 10px;
}
.contacts-link-header:hover .icon-contacts{
  fill: var(--btn-bg-color);
}
.for-your-buisness {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-bg-color);
  background-image: url("../img/hero-overlay-img.png"), url("../img/hero-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.for-your-buisness-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 696px;
  margin: 0 auto;
  height: 120px;
}
.hero-button {
  background-color: var(--btn-bg-color);
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 30px auto;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.our-features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-features {
  display: flex;
  column-gap: 30px;
}
.antenna::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--our-team-bg-color);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/antenna-1.png");
}
.astronaut::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--our-team-bg-color);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/astronaut-1.png");
}
.clock::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--our-team-bg-color);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/clock-1.png");
}
.diagram::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--our-team-bg-color);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/diagram-1.png");
}
.list-features-item-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--menu-nav-text-color);
  margin-bottom: 10px;
}
.list-features-item-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--our-team-text-color);
}
.images {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--menu-nav-text-color);
  padding-bottom: 50px;
}
.image-gallery {
  display: flex;
  column-gap: 30px;
}
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.members {
  display: flex;
  column-gap: 30px;
}
.team-member {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.member-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--menu-nav-text-color);
}
.member-position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--our-team-text-color);
  margin-bottom: 30px;
}
.social-icon{
  margin-left: 34px;
  margin-top: 354px;
  fill:#afb1b8;
}
.footer {
  background-color: var(--footer-bg-color);
}
.span-studio-footer {
  color: #fff;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.footer-contacts {
  column-gap: 9px;
}
.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  padding-top: 20px;
  color: #fff;
}
.contact-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */


.about {
  padding-top: 94px;
  padding-bottom: 34px;
}
.about-button:hover {
  background-color: var(--btn-bg-color);
  color: #fff;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.about-button{
  border-radius: 4px;
  width: 112px;
  height: 38px;
  border: none;
  align-items: center;
  cursor: pointer;
}
.about-list {
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  column-gap: 8px;
}
.projects {
  padding-top: 34px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  cursor: pointer;
}
.project-card-list {
  flex-basis: calc((100% - 60px) / 3);
}
.project-card-list:hover {
  border: 1px solid #eee;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}
.project-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--menu-nav-text-color);
}
.project-card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--our-team-text-color);
}
.project-content-wrap {
  padding: 20px 24px;
  border: 1px solid #eee;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contacts {
  font-style: normal;
}
.span-studio-footer {
  color: #fff;
}
.location {
  margin-bottom: 9px;
}
.contacts-item-footer + .contacts-item-footer {
  margin-top: 9px;
}
